{
	tableName: "aliases"
	identity: "alias"
	connection: "lovesMoney"
	attributes:
		id:
			type: "integer"
			primaryKey: true
		src_name:
			type: "string"
			unique: true # Unique index
			required: true
			notNull: true
		dest_domain:
			type: "string"
			unique: true # Unique index
			required: true
			notNull: true
		dest_email:
			type: "email"
			unique: true # Unique index
			required: true
			notNull: true
		incidents:
			type: "integer"
			notNull: true
			defaultsTo: 0
		visits:
			type: "integer"
			size: 64 # BIGINT
			notNull: true
			defaultsTo: 0
		customer_secret_hash:
			type: "string" # Hash of customer secret or pw
			required: true
			notNull: true
		alias_secret: "string" # Randomly generated secret for the alias, for confirming deletion
		customer_id:
			model: "customer"
}