{
	tableName: "customers"
	identity: "customer"
	connection: "lovesMoney"
	attributes:
		id:
			type: "integer"
			primaryKey: true
		name:
			type: "string"
			required: true
			notNull: true
		uuid:
			type: "string" # Hash of customer secret or pw
			required: true
			notNull: true
		pw_hash:
			type: "string"
			required: true
			notNull: true
		email:
			type: "email"
			unique: true # Unique index
			required: true
			notNull: true
		aliases:
			collection: "alias"
			via: "customer_id"
}