{
	tableName: "virtual_aliases"
	identity: "virtual_alias"
	connection: "mailServer"
	autoCreatedAt: false
	autoUpdatedAt: false
	attributes:
		domain_id:
			type: "integer"
			required: true
			index: true
			notNull: true
			# (Hack) Until https://github.com/balderdashy/waterline-sequel/issues/23 is resolved,
			# we will explicitly define PK attribute to work around the "ORDER BY undefined" issue
			primaryKey: false
		source:
			type: "email"
			size: 100
			required: true
			notNull: true
		destination:
			type: "email"
			size: 100
			required: true
			notNull: true
		custom:
			type: "boolean",
			size: 1,
			defaultsTo: true,
			boolean: true
	autoCreatedAt: false,
	autoUpdatedAt: false,
	autoPK: false
}