extends layout

block vars
	- var pageTitle = 'About Us'

block content
	h1.ui.dividing.header.center.aligned
		i.icon.file.text.lm-blue
		= pageTitle
	.ui.container.center.aligned
		p loves.money is a domain and email redirection service
