.ui.center.aligned.one.column.grid
	.column.page-footer
		.ui.fixed.inverted.vertical.footer.segment
			.sixteen.wide.column
				a(href='//loves.money')
					i.icon.heart.lm-red
					|&middot;
					i.icon.money.lm-green
				| by Scott Yang
