.ui.fixed.inverted.five.item.menu
	a.header.item(href='//loves.money')
		i.icon.home
		| Home
	a.header.item(href='//loves.money/demo')
		i.icon.play.circle.o
		| Demo
	a.header.item(href='//loves.money/pricing')
		i.icon.dollar
		| Pricing
	a.header.item(href='//loves.money/about')
		i.icon.file.text
		| About
	a.header.item(href='//loves.money/contact')
		i.icon.mail
		| Contact
