.ui.one.column.grid
	.computer.only.tablet.only.row.column
		.ui.fixed.inverted.five.item.menu
			include menu-items
	.mobile.only.row
		.ui.lm-blue.launch.right.attached.fixed.button.sidebar-toggler
			i.icon.sidebar
			span.text Menu
