extends layout

block vars
	- var pageTitle = 'loves.money - BETA - domain and email forwarding service'
	- var pageAdditionalScripts = ['/js/email-replacer.js']

block content
	h1.ui.dividing.header.center.aligned
		= 'loves.money '
		a.ui.orange.button.vertical-align-middle(href='//github.com/yisyang/loves_money')
			i.icon.lab
			| ALPHA

	h3.ui.header.center.aligned
		| a domain and email redirection service

	.ui.segment
		h2 How does it work?
		p
			| You have an email, let's say john.smith@example.com. It's a nice email address, but it just doesn't
			| fit your personality.
		p
			| Now you can add an alias here and have john@loves.money point to john.smith@example.com. You can hand
			| out your new shiny email address john@loves.money to everyone, they will send emails to that new address,
			| and you will still receive them at john.smith@example.com.
		p
			| The same applies to domains. john.loves.money just sounds better than johns-site.net, wouldn't you agree?

	.ui.container.center.aligned
		a.ui.green.button.vertical-align-middle(href='//loves.money/demo')
			i.icon.play.circle.o
			| Try it out!
