extends layout

block content
	h1.ui.dividing.header.center.aligned
		= 'loves.money '
		span.ui.red.button.vertical-align-middle
			i.icon.lab
			| PRE-ALPHA
	h3.ui.header.center.aligned
		| a domain and email redirection service
	div.ui.container.center.aligned
		p The UI is currently under development, please come back in a week