doctype html
- var pageTitle = 'domain and email forwarding service'
- var pageDescription = 'loves.money is a domain/email forwarding service written as a weekend mini-project'
- var pageAdditionalScripts = []
html.no-js
	block vars
	head
		meta(charset='utf-8')
		title= 'loves.money - BETA - ' + pageTitle
		meta(name='description' content= pageDescription)
		meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')
		meta(name='keywords', content='')
		link(rel='stylesheet', href='/vendor/semantic-ui/semantic.css')
		link(rel='stylesheet', href='/css/main.css')
		script(type='text/javascript' src='//code.jquery.com/jquery-2.1.4.min.js')
		script(type='text/javascript' src='/vendor/semantic-ui/semantic.js')
		script(type='text/javascript' src='/js/browserify-bundle.js')
		- each pageAdditionalScript in pageAdditionalScripts
			script(type='text/javascript' src= pageAdditionalScript)
	body
		script(type='text/javascript' src='/js/main.js')

		.ui.sidebar.inverted.vertical.menu
			include menu-items

		.pusher.page-container
			// IE unsupported message
			<!--[if lt IE 9]>
			p.browsehappy
				| You are using an #{''}
				strong  unsupported
				|  browser. Please
				a(href='http://browsehappy.com/')  use a modern browser
				|  to improve your experience.
			<![endif]-->

			.header
				include header
			.content.ui.main.text.container
				block content
			.footer
				include footer
