a.header.item(href='//loves.money')
	i.icon.home
	| Home
a.header.item(href='/demo')
	i.icon.play.circle.o
	| Demo
a.header.item(href='/pricing')
	i.icon.dollar
	| Pricing
a.header.item(href='/about')
	i.icon.file.text
	| About
a.header.item(href='/contact')
	i.icon.mail
	| Contact