doctype html
html
	head
		title Welcome
		meta(charset='utf-8')
		meta(name='description'
			content='CarCrash is a very simple framework. It is easier to operate and causes less damage compared to the TrainWreck framework.')
		meta(name='keywords', content='')
	body
		// Content
		#content
			block content