{
	'subdomain': ''
	'controllerPath': 'controllers/ui'
	'viewPath': 'views/ui'
	'routesGroups': [
		{
			'controller': 'index.js' # controller
			'prefix': '/'
			'routes': [
				{
					'method': 'get' # http method
					'url': '/' # http url
					'handler': 'index' # function called
				}
			]
		}
	]
}