# IMPORTANT NOTES
# 1. More specific paths must be defined before more general paths, so that the fixed ones can be resolved
#
#    Example:
#        Url 1: /test/_all
#        Url 2: /test/:anything
#
#    Url 1 must be placed before url 2 so that the request doesn't get hijacked by url 2
#
# 2. For the same path prefix, routesGroups not requiring auth middleware must be defined before ones requiring auth,
#    so that the routes not requiring auth can still be resolved

{
	'subdomain': 'api'
	'controllerPath': 'controllers/api'
	'viewPath': 'views/api'
	'routesGroups': [
		{
			'controller': 'index.js'
			'prefix': '/'
			'routes': [
				{
					'method': 'get'
					'url': '/'
					'handler': 'getIndex'
				}
			]
		}
		{
			'controller': 'aliases.js'
			'prefix': '/aliases'
			'routes': [
				{
					'method': 'get'
					'url': '/'
					'handler': 'getIndex'
				}
				{
					'method': 'get'
					'url': '/:alias'
					'handler': 'getAlias'
				}
			]
		}
		{
			'controller': 'aliases.js'
			'prefix': '/aliases'
			'middlewares': [
				'jwt-verify'
			]
			'routes': [
				{
					'method': 'post'
					'url': '/'
					'handler': 'postAlias'
				}
				{
					'method': 'delete'
					'url': '/_all'
					'handler': 'deleteAll'
				}
				{
					'method': 'delete'
					'url': '/:alias'
					'handler': 'deleteAlias'
				}
			]
		}
		{
			'controller': 'auth.js'
			'prefix': '/auth'
			'routes': [
				{
					'method': 'post'
					'url': '/login'
					'handler': 'postLogin'
				}
			]
		}
		{
			'controller': 'auth.js'
			'prefix': '/auth'
			'middlewares': [
				'jwt-verify'
			]
			'routes': [
				{
					'method': 'get'
					'url': '/refresh'
					'handler': 'getRefresh'
				}
			]
		}
		{
			'controller': 'customers.js'
			'prefix': '/customers'
			'middlewares': [
				'jwt-verify'
			]
			'routes': [
				{
					'method': 'get'
					'url': '/:id'
					'handler': 'getCustomer'
				}
			]
		}
		{
			'controller': 'customers.js'
			'prefix': '/customers'
			'middlewares': [
				'jwt-verify'
				'jwt-verify-admin'
			]
			'routes': [
				{
					'method': 'post'
					'url': '/'
					'handler': 'postCustomer'
				}
				{
					'method': 'delete'
					'url': '/:id'
					'handler': 'deleteCustomer'
				}
			]
		}
	]
}