{
	'subdomain': 'api'
	'controllerPath': 'controllers/api'
	'viewPath': 'views/api'
	'routesGroups': [
		{
			'controller': 'index.js'
			'prefix': '/'
			'routes': [
				{
					'method': 'get'
					'url': '/'
					'handler': 'getIndex'
				}
			]
		}
		{
			'controller': 'aliases.js'
			'prefix': '/aliases'
			'routes': [
				{
					'method': 'get'
					'url': '/'
					'handler': 'getIndex'
				}
				{
					'method': 'get'
					'url': '/:alias'
					'handler': 'getAlias'
				}
				{
					'method': 'post'
					'url': '/'
					'handler': 'postAlias'
				}
				{
					'method': 'delete'
					'url': '/_all'
					'handler': 'deleteAll'
				}
				{
					'method': 'delete'
					# Note routes with manual entry must come after routes with fixed entry, so that the fixed ones will be resolved
					'url': '/:alias'
					'handler': 'deleteAlias'
				}
			]
		}
		{
			'controller': 'auth.js'
			'prefix': '/auth'
			'routes': [
				{
					'method': 'post'
					'url': '/'
					'handler': 'postLogin'
				}
				{
					'method': 'get'
					'url': '/'
					'handler': 'getRefresh'
				}
			]
		}
		{
			'controller': 'customers.js'
			'prefix': '/customers'
			'middlewares': [
				'jwt-verify'
			]
			'routes': [
				{
					'method': 'get'
					'url': '/:uuid'
					'handler': 'getCustomer'
				}
				{
					'method': 'post'
					'url': '/'
					'handler': 'postCustomer'
				}
				{
					'method': 'delete'
					'url': '/:uuid'
					'handler': 'deleteCustomer'
				}
			]
		}
	]
}