body {
  background-color: #fafafa;
}
.lm-green {
  color: #008000;
}
.lm-red {
  color: #f00;
}
.lm-blue {
  color: #005779;
}
.lm-blue.button {
  color: #fff;
  background-color: #005779;
  box-shadow: none !important;
}
.lm-blue.button:hover {
  color: #005779;
  background-color: transparent;
  box-shadow: 0 0 0 2px #005779 inset !important;
}
.lm-blue.button.inverted {
  color: #005779;
  background-color: transparent;
  box-shadow: 0 0 0 2px #005779 inset !important;
}
.lm-blue.button.inverted:hover {
  color: #fff;
  background-color: #005779;
  box-shadow: none !important;
}
.lm-spacing-margin.above {
  margin-top: 1em;
}
.lm-spacing-margin.above.double {
  margin-top: 2em;
}
.lm-spacing-margin.below {
  margin-bottom: 1em;
}
.lm-spacing-margin.below.double {
  margin-bottom: 2em;
}
.page-container {
  position: relative;
  top: 0;
  left: 0;
  min-height: 100%;
}
.page-container >.header .computer.only.row {
  height: 3.5em;
  margin-bottom: 2em;
}
.page-container >.header .computer.only.row >.menu {
  height: 3.5em;
}
.page-container >.header .mobile.only.row .sidebar-toggler {
  padding-left: 2em;
}
.page-container >.content {
  margin-top: 2em;
  padding-bottom: 5em;
}
.page-container >.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.ui.button.vertical-align-middle {
  vertical-align: middle;
}
.ui.grid >.page-footer {
  margin: 2em 0 0 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.ui.header.lm-spacing-margin.above {
  margin-top: 1em;
}
.ui.header.lm-spacing-margin.above.double {
  margin-top: 2em;
}
.ui.header.lm-spacing-margin.below {
  margin-bottom: 1em;
}
.ui.header.lm-spacing-margin.below.double {
  margin-bottom: 2em;
}
.ui.inverted.menu,
.ui.inverted.segment {
  background-color: #005779;
}
.ui.menu .item img.logo {
  margin-right: 1.5em;
}
.wireframe {
  margin-top: 2em;
}
