body
	background-color: #fafafa
i.icon
	&.green
		color: green
	&.red
		color: red
.page-container
	>.header
		height: 5em
	>.footer>.sticky
		width: 100%
.ui
	&.button.vertical-align-middle
		vertical-align: middle
	&.footer.segment
		margin: 2em 0 0 0
	&.inverted
		&.menu
		&.segment
			background-color: #004f6e
	&.menu
		.item img.logo
			margin-right: 1.5em
.wireframe
	margin-top: 2em