body {
  background-color: #fafafa;
}
.lm-green {
  color: #008000;
}
.lm-red {
  color: #f00;
}
.lm-blue {
  color: #005779;
}
.lm-spacing-margin.above {
  margin-top: 1em;
}
.lm-spacing-margin.above.double {
  margin-top: 2em;
}
.lm-spacing-margin.below {
  margin-bottom: 1em;
}
.lm-spacing-margin.below.double {
  margin-bottom: 2em;
}
.page-container {
  position: relative;
  top: 0;
  left: 0;
  min-height: 100%;
}
.page-container >.header {
  height: 5em;
}
.page-container >.content {
  padding-bottom: 5em;
}
.page-container >.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.ui.button.vertical-align-middle {
  vertical-align: middle;
}
.ui.footer.segment {
  margin: 2em 0 0 0;
}
.ui.header.lm-spacing-margin.above {
  margin-top: 1em;
}
.ui.header.lm-spacing-margin.above.double {
  margin-top: 2em;
}
.ui.header.lm-spacing-margin.below {
  margin-bottom: 1em;
}
.ui.header.lm-spacing-margin.below.double {
  margin-bottom: 2em;
}
.ui.inverted.menu,
.ui.inverted.segment {
  background-color: #005779;
}
.ui.menu .item img.logo {
  margin-right: 1.5em;
}
.wireframe {
  margin-top: 2em;
}
