.ui.fixed.inverted.menu
	.ui.container
		.header
			a.item(href='//loves.money')
				i.icon.heart.red
				| &middot;
				i.icon.money.green
				| loves.money
		//a.item(href='//loves.money') Create an alias
		//a.item(href='//loves.money') Delete an alias
