doctype html
html.no-js
	head
		meta(charset='utf-8')
		title= title
		meta(name='description'
			content='loves.money is a domain/email forwarding service written as a weekend mini-project')
		meta(name='viewport', content='width=device-width')
		meta(name='keywords', content='')
		link(rel='stylesheet', href='/vendor/semantic-ui/semantic.css')
		link(rel='stylesheet', href='/css/main.css')
		script(type='text/javascript' src='//code.jquery.com/jquery-2.1.4.min.js')
		script(type='text/javascript' src='/vendor/semantic-ui/semantic.js')
		script(type='text/javascript' src='/js/browserify-bundle.js')
	body
		script(type='text/javascript' src='/js/main.js')
		.page-container
			// IE unsupported message
			<!--[if lt IE 9]>
			p.browsehappy
				| You are using an #{''}
				strong  unsupported
				|  browser. Please
				a(href='http://browsehappy.com/')  use a modern browser
				|  to improve your experience.
			<![endif]-->

			.header
				include header
			.ui.main.text.container
				block content
			.footer
				include footer